<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>AGENTIE IMOBILIARA</title>
</head>
<body>

    <h1>Detalii Proprietati</h1>
    <table >
        <tr>
            <th >ID Proprietate</th>
            <th >Serviciu</th>
            <th >Tip imobil</th>
            <th>Zona</th>
            <th >Suprafata</th>
            <th >Confort</th>
            <th >Risc Seismic</th>
            <th >Loc de parcare</th>
            <th >Pret</th>
            <th >Id proprietar</th>
            <th >Valabilitate:</th>
        </tr>
        {% for imobil in imobile %}
        <tr>
            <td >{{ imobil[0] }}</td>
            <td >{{ imobil[1] }}</td>
            <td >{{ imobil[2] }}</td>
            <td >{{ imobil[3] }}</td>
            <td >{{ imobil[4] }}</td>
            <td >{{ imobil[5] }}</td>
            <td >{{ imobil[6] }}</td>
            <td >{{ imobil[7] }}</td>
            <td >{{ imobil[8] }}</td>
            <td >{{ imobil[9] }}</td>
            <td >{{ imobil[10] }}</td>
            
        </tr>
        {% endfor %}

        {% for imobil in imobil2 %}
        <tr>
            <td >{{ imobil[0] }}</td>
            <td >{{ imobil[1] }}</td>
            <td >{{ imobil[2] }}</td>
            <td >{{ imobil[3] }}</td>
            <td >{{ imobil[4] }}</td>
            <td >{{ imobil[5] }}</td>
            <td >{{ imobil[6] }}</td>
            <td >{{ imobil[7] }}</td>
            <td >{{ imobil[8] }}</td>
            <td >{{ imobil[9] }}</td>
            <td >{{ imobil[10] }}</td>
            
        </tr>
        {% endfor %}
    </table>

    <div class="form-container">

        <div class="form-box">
            <form action="{{ url_for('verifica_valabilitate') }}" method="POST">
                
                <h3>Zile pana la valabilitate: {{ output }} Zile</h3>
                <label for="nume"style=" font-size:18px; background-color:rgba(245, 71, 109, 0.55); padding: 10px 10px; margin-bottom: 1px; color: #fff; border-radius:10px" >ID Proprietate:</label><br><br>
                
                <input type="text" id="ID_proprietate" name="ID_proprietate" required><br><br>
                <button type="submit">Verifica</button>
            </form> 
        </div>

        <div class="form-box">
            <form action="{{ url_for('subinterogarea') }}" method="POST" style="width: 50%">
            
                <label for="id" style=" font-size:18px; background-color:rgba(245, 71, 109, 0.55); padding: 10px 10px; margin-bottom: 1px; color: #fff; border-radius:10px" >Media pretului pe tipul de serviciu: {{ medie | string | trim("(Decimal)'',)") }}</label><br><br>
                    <select id="options" name="Serviciu" >
                        <option value="vanzare">Vanzare</option>
                        <option value="inchiriere">Inchiriere</option>
                        <option value="regim hotelier">Regim Hotelier</option><br>
                    </select>
                    <button type="submit">
                        Start </button>
                    
            </form>
        </div>

        <div class="form-box">
            <form action="{{ url_for('ordpret') }}" method="POST" style="width: 50%">
            
                <label for="id" style=" font-size:18px; background-color:rgba(245, 71, 109, 0.55); padding: 10px 10px; margin-bottom: 1px; color: #fff; border-radius:10px"  >Proprietati cu pretul mai mic decat:</label><br><br>
                <input type="text" id="Pret" name="Pret" required >
                
                <button type="submit">
                    Start </button>
                
                </form>
            </div>

    </div>





        <center>

            <div style="margin-top: 20px;">
                <form action="{{ url_for('index')}}" method="get" style="display: inline;">
                    <button type="submit">
                        Lista Agenti </button>
                </form>
            </div><br>

            <a href="/detalii">Inapoi la formular</a><br><br>
            </center>
