<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>AGENTIE IMOBILIARA</title>
</head>
<body>
    
    <center>
        <div style= "display: flex; 
            justify-content: center; 
            gap: 1px;
            margin-top: 20px;
            background-color: #cacffc00;
            margin-left: 0px;"
        >
            <form action="/index2" method="get">
                <button type="submit">
                    Lista Proprietari
                </button>
            </form>
            <form action="/spec" method="get">
                <button type="submit" >
                    Lista Specificatii
                </button>
            </form>
            <form action="/proprietati" method="get">
                <button type="submit">
                    Proprietati
                </button>
            </form>
            <form action="/detalii" method="get">
                <button type="submit" >
                    Detalii Proprietati
                </button>
            </form>
        </div>
    </center>

    <h1>Lista Agenti Imobiliari</h1>
    
    <table>
        <tr>
            <th >ID Agent</th>
            <th>Nume</th>
            <th >Numar Proprietati</th>
            <th >Telefon</th>
            <th >Email</th>
            <th > </th>
        </tr>
        {% for agent in agents %}
        <tr>
            <td >{{ agent[0] }}</td>
            <td >{{ agent[1] }}</td>
            <td >{{ agent[2] }}</td>
            <td >{{ agent[3] }}</td>
            <td>{{ agent[4] }}</td>
            <td >
                <form action="{{ url_for('delete_agent', id=agent[0]) }}" method="POST">
                    <button type="submit">Sterge</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>




    
    <div class="form-container">
        
        <div class="form-box">
            <h2>Adaugă Agent</h2>
            <form action="{{ url_for('add_agent') }}" method="POST">
                <label for="nume">Nume:</label>
                <input type="text" id="nume" name="Nume_agent" required>
    
                <label for="nrproprietati">Număr Proprietăți:</label>
                <input type="text" id="nrproprietati" name="Nr_proprietati" required>
    
                <label for="telefon">Telefon:</label>
                <input type="text" id="telefon" name="Nr_telefon" required>
    
                <label for="email">Email:</label>
                <input type="text" id="email" name="Email" required>
                <br><br>
                <button type="submit">Adaugă Agent</button>
            </form>
        </div>
    
        
        <div class="form-box">
            <h2>Update Agent</h2>
            <form action="{{ url_for('update_agent') }}" method="POST">
                <label for="idagent">ID Agent:</label>
                <input type="text" id="idagent" name="ID_agent" required>
    
                <label for="nume">Nume:</label>
                <input type="text" id="nume" name="Nume_agent" required>
    
                <label for="nrproprietati">Număr Proprietăți:</label>
                <input type="text" id="nrproprietati" name="Nr_proprietati" required>
    
                <label for="telefon">Telefon:</label>
                <input type="text" id="telefon" name="Nr_telefon" required>
    
                <label for="email">Email:</label>
                <input type="text" id="email" name="Email" required>
                <br><br>    
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
    


</body>
</html>
