<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>AGENTIE IMOBILIARA</title>
</head>
<body>

    <h1>Proprietati</h1>
    <table>
        <tr>
            <th >ID Proprietate</th>
            <th >ID Agent</th>
            <th >Sector</th>
            <th>Nr camere</th>
        </tr>
        {% for proprietate in proprietati %}
        <tr>
            <td>{{ proprietate[0] }}</td>
            <td >{{ proprietate[1] }}</td>
            <td >{{ proprietate[2] }}</td>
            <td >{{ proprietate[3] }}</td>
        
        </tr>
        {% endfor %}

        {% for proprietate in proprietati2 %}
        <tr>
            <td >{{ proprietate[0] }}</td>
            <td >{{ proprietate[1] }}</td>
            <td >{{ proprietate[2] }}</td>
            <td >{{ proprietate[3] }}</td>
        
        </tr>
        {% endfor %}
    </table>

    <div class="form-container">

        <div class="form-box">
            <h2 style="text-align: center;">Adauga Proprietate</h2>
            <form action="{{ url_for('add_proprietate') }}" method="POST" >
                <label for="nume">ID agent:</label><br><br>
                <input type="text" id="idagent" name="ID_agent" required><br><br>
                <label for="nrproprietati">Sector:</label><br><br>
                <input type="text" id="sector" name="Sector" required><br><br>
                <label for="telefon">Nr camere:</label><br><br>
                <input type="text" id="camere" name="Nr_Camere" required><br><br>
                <button type="submit">Adauga</button>
            </form>
        </div>

        <div class="form-box">
            <form action="{{ url_for('numarcamere') }}" method="POST">
                
                <h2 style="text-align: center;">Numar de camere</h2>
                <input type="text" id="Nr_Camere" name="Nr_Camere" required><br><br>
                
                <button type="submit">
                    Start </button>
                
                </form>
        </div>
    </div>


    <center>

            <form action="{{ url_for('index')}}" method="get">
                <button type="submit">
                    Lista Agenti </button>
            </form>
            <br>

            <a href="/proprietati">Inapoi la formular</a>
    </center>
    
</body>
</html>
