<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>AGENTIE IMOBILIARA</title>
</head>
<body >
    <h1 >Specificatii</h1>
    <table>
        <tr>
            <th>ID:</th>
            <th >Serviciu:</th>
            <th >Comision:</th>
            <th >Negociere:</th>
            <th >TVA:</th>
        </tr>
        {% for spec in specificatii %}
        <tr>
            <td >{{ spec[0] }}</td>
            <td >{{ spec[1] }}</td>
            <td >{{ spec[2] }}</td>
            <td >{{ spec[3] }}</td>
            <td >{{ spec[4] }}</td>
        </tr>
        {% endfor %}
    </table>


    <center>
        <form action="{{ url_for('counter')}}" method="POST" style="display: inline;">
            <h1 style="color:rgb(255, 255, 255); background-color: #f5476d">Numarul de inregistrari pentru serviciul specificat: {{ count }}</h1>

            
            <label for="id">Numar disponibile dupa serviciu:</label><br><br>
            <select id="options" name="Serviciu" style="width:20%; font-size:20px">
                <option value="vanzare">Vanzare</option>
                <option value="inchiriere">Inchiriere</option>
                <option value="regim hotelier">Regim Hotelier</option>
            </select><br><br>
            <button type="submit">
                Start </button>
                
        </form>
    </center>
    <br>
    <center>

        <div >
            <form action="{{ url_for('index')}}" method="get">
                <button type="submit" >
                    Lista Agenti </button>
            </form>
        </div>


    <br>
    <a href="/spec">Inapoi la formular</a>
    </center>


</body>
</html>
